section.hero {
  height: calc(100dvh - var(--landing-header-height) * 1);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: var(--p-level-4);
  padding-bottom: 2rem;
  max-height: calc(1080px - var(--landing-header-height));

  h1.heading {
    // Grid cell settings
    grid-column: 3 / span 6;
    grid-row: 2 / span 5;

    // Center that heading!
    align-self: center;
    justify-self: start;

    font-size: calc(var(--heading-1) * 1.84375) !important;
  }

  img.person {
    @apply z-20 mx-[1rem];
    grid-column: 9 / span 4;
    grid-row: 3 / span 4;
    object-fit: scale-down;
    align-self: end;
    justify-self: center;
    max-height: 100%;
    max-width: calc(100% - 3rem);
  }

  .personCardBg {
    @apply bg-block-secondary;

    // Place card bg in grid
    grid-column: 9 / span 4;
    grid-row: 4 / span 3;
  }

  article.numbers {
    @apply bg-card-bg text-card-font p-2 flex flex-col items-start;

    gap: min(100dvh, 1.5rem);

    // Place card bg in grid
    grid-column: 9 / span 4;
    grid-row: 7 / span 3;

    $numberFontHeight: calc(
      var(--p20) * 2.25
    );

    .loader {
      font-size: $numberFontHeight;
      height: 1em;
      width: 2ch;
    }
  }

  article.links {
    @apply bg-block-primary -z-[2] p-2;

    grid-column: 3 / span 7;
    grid-row: 8 / span 4;

    .grid {
      @apply gap-3;
      display: grid;
      width: 100%;
      grid-template-columns: 4rem 1fr;
      grid-template-rows: repeat(2, 4rem);
      grid-template-areas:
        "atom slogan"
        "none links"
      ;

      .links {
        grid-area: links;
      }
    }
  }

  article.slideDown {
    @apply flex justify-center items-end;
    grid-column: 1 / span 12;
    grid-row: 12 / span 1;
  }
}