@use "../../../../styles/utils/media";
@use "../../../../styles/config";

header.landingHeader {
  @apply flex items-center;

  .grid {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;

    @include media.endAtFixed(config.$mobileBreakpoint) {
      @apply flex justify-between;
    }

    .list {
      @apply flex gap-3;

      .navbarItem {
        // Not active item
        &:not(&[data-is-active~=true]) {
          opacity: .5;
          pointer-events: none;
        }
      }
    }
  }
}